@import "~normalize.css";

$contextColor: #2974ff;
$textColor: #fff;
$bgColor: #000;
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1100px;
}

h1, p {
  margin: 0;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $contextColor;
  cursor: pointer;
  color: $textColor;
  text-shadow: #000 1px 1px;
  border: 2px solid $textColor;
  box-shadow: 2px 3px 1px $contextColor, 6px 7px 8px rgb(0 0 0 / 70%);
  transition: all 100ms;


  &:active {
    position: relative;
    top: 2px;
    left: 3px;
    box-shadow: none;
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &[disabled] {
    position: relative;
    top: 2px;
    left: 3px;
    box-shadow: none;
    background-color: #605e5e;
  }
}