@import "~normalize.css";

body {
  background-color: #234;
  color: white;
  padding: 100px;

}

h1, h2, h3, h4 {
  //font-size: 2em;
  margin: 0;
}

button {
  font-size: 1em;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 5px;
    //font-size: 40px;
  }

}